.f6 {
  width: 100%;
  height: 224.03px;
  border-top: 1px solid #f0f0f1;
  padding: 32px 0;
  display: flex;
  align-items: flex-start;
  .tibif {
    width: 927px;
    height: 125px;
    margin-left: 40px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #81858b;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 40px;
    .sttot {
      font-size: 21px;
      font-weight: 500;
      line-height: 2.1;
      color: #62666d;
      display: flex;
      .code3648 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #fff);
        .code3649 {
          background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #fff);
          width: 927px;
          height: 125px;
          z-index: 9999;
          position: fixed;
          flex-grow: 1;
          display: flex;
        }
      }
    }
  }
  .namad {
    width: 109px;
    height: 109px;
    border: 1px solid #e0e0e2;
    border-radius: 8px;
    padding: 16px;
    margin-right: 8px;
    .namad250 {
      width: 75px;
      height: 75px;
      object-fit: contain;
      height: 100%;
    }
  }
}
.fewt {
  font-size: 12px;
  width: 100%;
  color: #81858b;
  width: 927px;
  height: 125px !important;
  z-index: 9999;
  flex-grow: 1;
  display: flex;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #fff);
  line-height: 2.17;
  background: -webkit-linear-gradient(#8d9299, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
