* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
:root {
  --font-family: IRANYekan, sans-serif;
}
@font-face {
  font-family: iranyekan;
  src: url(../../font/iranyekan/IRANYekanWeb.eot);
  src: url(../../font/iranyekan/IRANYekanWeb.ttf);
  src: url(../../font/iranyekan/IRANYekanWeb.woff);
  src: url(../../font/iranyekan/IRANYekanWeb.woff2);
}
.cont {
  width: 400px;
  padding: 32px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e0e0e2;
  border-radius: 8px;
  .svt {
    width: 100%;
    height: 66.22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    .svgot {
      width: 100px;
      height: 100%;
    }
  }
  .cont2 {
    display: flex;
    flex-direction: column;
    .h1 {
      font-size: 19px;
      text-align: right;
      color: #0c0c0c;
      margin-top: 16px;
    }
    .span {
      margin-top: 16px;
      color: #3f4064;
      font-size: 12px;
      font-weight: 400;
      line-height: 2.17;
    }
    .span2 {
      margin-top: 0;
      margin-bottom: 16px;
    }
    .form {
      width: 100%;
      border: 1px solid transparent !important;
      white-space: nowrap;
      overflow: hidden;
      .tid {
        width: 100%;
        border-radius: 8px;
        height: 48px;
        border: 1px solid #19bfd3;
        display: flex;
        justify-content: center;
        align-items: center;
        .inpt {
          border: 1px solid transparent !important;
          width: 100%;
          border-radius: 8px;
          height: 100%;
          color: #3f4064;
          outline-offset: 0px;
          background-color: transparent;
          font-size: 15px;
          font-weight: 400;
          line-height: 2.15;
          padding: 8px;
        }
      }
      .submit {
        width: 100%;
        height: 48px;
        background-color: #ef4056;
        color: white;
        border: 1px solid #ef4056;
        margin-top: 32px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
    .nt {
      margin-top: 16px;
      font-size: 11px;
      font-weight: 400;
      line-height: 2.17;
      color: #3f4064;
    }
    .bt {
      margin: 0 4px;
      color: #008eb2;
      text-decoration: none;
    }
  }
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
